<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/global.css">
</head>

<body>

  <!-- GLOBAL SVG SPRITE -->
  {% include "global/svg-sprite.html" %}

  <!-- GLOBAL HEADER -->
  {% include "global/header.html" %}

  <!-- PAGE CONTENT -->
  {{ page.content }}

  <!-- GLOBAL FOOTER -->
  {% include "global/footer.html" %}

</body>
</html>
